@font-face {
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url('../images/스크린샷\ 2023-08-16\ 151724.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.background{
  background-color: aliceblue;
  opacity: .9;
  box-shadow: 0 15px 35px rgba(255, 255, 255,0.4);
  margin: auto;
  margin-top: 180px;
  max-width: 1000px;
  height: 400px;
  border-radius: 10px;
}
.center{
  margin: auto;
  width: 800px;
  height: 100px;
  padding-top: 30px;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
.move{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 900px;
  height: 230px;
}
.move-go{
  text-decoration: none;
  color: azure;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background-color: #72edba;
  width: 400px;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  
}
#one {
 font-size: 40px;
 display: block;
 height: 150px;
 margin-right: 15px;
 transition: 1s;
 text-align: center;
}
#one:hover{
  background-color: #08ef8f;
  color: aliceblue;
  transform: scale(1.3);
}
#two {
  font-size: 40px;
  display: block;
  height: 150px;
  margin-left: 15px;
  transition: 1s;
  text-align: center;
}
#two:hover{
  background-color: #08ef8f;
  color: aliceblue;
  transform: scale(1.3);
}


.chool {
  text-decoration: none;
  position: fixed;
  bottom: 0%;
  right: 0%;
  color :rgb(243, 229, 208);
  opacity: .2;
}
