<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mench</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
  <link rel="stylesheet" href="/main.css">
  <script defer src="/main.js"></script>
</head>
<body>

  <header>
    <div class="inner">

      <a th:href="@{mainPage}" class="logo">
        <img src="../images/logo.png" alt="Mench">
      </a>

      <div class="sub-menu">
        <ul class="menu">
          <li class="introduce">
            소개
          </li>
          <li class="mentoring">
            멘토링
          </li>
          <li class="test">
            <a class="move" th:href="@{test/main}">검사하기</a>
          </li>
        </ul>
        <a th:href="@{fstPage}" class="log-out">
          <div class="material-symbols-outlined">
            logout
          </div>
        </a>
      </div>

    </div>
  </header>

  
  <hr>


  <div class="introduce-block">
    <div class="introduce-p">
      <div class="introduce-preface">
        소개
      </div>
      <div class="name">
        <div class="name-preface">
          ● Mench
        </div>
        <div class="name-content">
          Mench는 Mentor Mentee Matcing의 약어로 이 홈페이지의 이름이자, 
          저희 팀의 정체성 입니다. 또한 멘토링 매칭의 징검다리 역할을 함에따라, 
          사회에 좋은 영향을 미치겠다는 큰 포부도 담고 있습니다.
        </div>
      </div>
      <div class="team">
        <div class="team-preface">
          ● Team
        </div>
        <div class="team-content">
          저희 팀은 강원대학교 팀으로 설지윤, 전경석, 심지수, 권순호 팀원으로
          구성되어 있습니다. 설지윤, 권순호 팀원이 프론트엔드를 맡았고, 전경석, 
          심지수 팀원이 백엔드를 맡았습니다.
        </div>
      </div>
      <div class="vision">
        <div class="vision-preface">
          ● Vision
        </div>
        <div class="vision-content">
          Mench 페이지의 비전은 디지털 격차를 겪고있는 청소년들을 위함에 있습니다. 
          학업, 생활 등의 분야에 상관없이 국가 운영 기관 및 기업들이 운영하는 멘토링 
          프로그램에 대해서 디지털 격차를 겪고 있는 청소년들에게 접근성을 높여주는 
          값진 비전이 있습니다.
        </div>
      </div>
    </div>
  </div>
  <div class="mentoring-none">
    <div class="mentoring-mom">
      <div class="mentoring-state">
        <div class="mentoring-state-name">
          국가 지원
        </div>
        <div class="mentoring-state-content" style="overflow: auto; max-height: 800px;">
          <ul>
            <li th:each="center, idx : ${centerList}">
              <p>
                <span th:text="${idx.index + 1}"></span>. 센터명 : <span th:text="${center.name}"></span> <br>
                센터 위치, 전화번호, 시간 : <span th:text="${center.info}"></span> <br>
                프로그램 : <span th:text="${center.program}"></span> <br><br>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="mentoring-corporation">
        <div class="mentoring-corporation-name">
          기업 프로그램
        </div>
        <div class="mentoring-corporation-content" style="
          width: 1100px;
          height: 700px;
          position: absolute;
          right: 9em;
          border-left: 1px solid black; 
          background-color: #fbe4c6;
          overflow: auto;
          max-height: 800px;
        ">
          <ul>
            <li th:each="company, idx : ${companyList}">
              <p>
                <span th:text="${idx.index + 1}"></span>. 기업명 : <span th:text="${company.name}"></span> <br>
                멘토링 분야 : <span th:text="${company.type}"></span> <br>
                홈페이지 : <a th:href="${company.address}" th:text="${company.address}"></a> <br><br>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="test-none">검사<a th:href="@{/test/main}">검사하러가기</a></div>
</body>
</html>