<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/ex1.jpg" alt="My Image"></div>
        <h1>내가 영화 속 등장인물이라면?</h1>
        <div class="a_q">
            <a id="a3" th:href="@{/test/a3}">친구들이 항상 내 곁에! 해리포터🤓⚡</a>
            <a id="a4" th:href="@{/test/a4}">책은 내 친구! 헤르미온느👧📚</a>
        </div>
    </div>
    <script>
        // 결과 저장이벤트 발생
        $("#a3").click(function(){
            alert("a3");
        });
        $("#a4").click(function(){
            alert("a4");
        });
    </script>
</body>
</html>