<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>

<body>
<header>
    <div class="inner">

        <a th:href="@{/mainPage}" class="logo">
            <img src="../images/logo.png" alt="Mench">
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li class="introduce">
                    소개
                </li>
                <li class="mentoring">
                    멘토링
                </li>
                <li class="test">
                    <a class="move" th:href="@{/test/main}">검사하기</a>
                </li>
            </ul>
            <a th:href="@{/fstPage}" class="log-out">
                <div class="material-symbols-outlined">
                    logout
                </div>
            </a>
        </div>

    </div>
</header>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/undraw_Working_remotely_re_6b3a.png" alt="My Image"></div>
        <h1>내가 회사 CEO가 된다면?</h1>
        <div class="a_q">
            <a id="a1" th:href="@{/test/a1}">아이폰, 무인 자동차처럼 새로운 기술을 만들거야!🚀</a>
            <a id="a2" th:href="@{/test/a2}">카카오톡, 페이스북처럼 인터넷 서비스를 만들거야!👩‍💻</a>
        </div>
    </div>
<script>
            $(document).ready(function() {
        $("#a1").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a1"
            });
        });

        $("#a2").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a2"
            });
        });
    });
    </script>
</body>
</html>