<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/ex1.jpg" alt="My Image"></div>
        <h1>내 꿈은</h1>
        <div class="a_q">
            <a id="a7" th:href="@{/test/a7}">메시!⚽</a>
            <a id="a5" th:href="@{/test/a5}">피카소!🎨</a>
        </div>
    </div>
    <script>
        $(document).ready(function() {
        $("#a7").click(function(e) {
            alert("a7");

            // 서버로 요청 보내기
            $.ajax({
                type: "POST",
                url: "/test/a7"
            });
        });

        $("#a5").click(function(e) {
            alert("a5");

            // 서버로 요청 보내기
            $.ajax({
                type: "POST",
                url: "/test/a5"
            });
        });
    });

<!--        // 결과 저장이벤트 발생-->
<!--        $("#a7").click(function () {-->
<!--            alert("a7");-->
<!--        });-->
<!--        $("#a5").click(function () {-->
<!--            alert("a5");-->
<!--        });-->
    </script>
</body>

</html>