<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>

<body>
<header>
    <div class="inner">

        <a href="" class="logo">
            <img src="../images/logo.png" alt="Mench">
        </a>

        <div class="sub-menu">
           
            <a th:href="@{/fstPage}" class="log-out">
                <div class="material-symbols-outlined">
                    logout
                </div>
            </a>
        </div>

    </div>
</header>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/undraw_Dreamer_re_9tua.png" alt="My Image"></div>
        <h1>내 꿈은</h1>
        <div class="a_q">
            <a id="a7" th:href="@{/test/a7}">메시!⚽</a>
            <a id="a5" th:href="@{/test/a5}">피카소!🎨</a>
        </div>
    </div>
    <script>
            $(document).ready(function() {
        $("#a7").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a7"
            });
        });

        $("#a5").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a5"
            });
        });
    });

      $(".logo").click(function(){
        if(confirm("지금까지의 검사 기록이 저장되지 않습니다. 홈으로 돌아가시겠습니까?")){
          $(this).attr("href", "/mainPage");
    }
  });
    </script>
</body>

</html>