<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_a.css">
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>
<!-- 코딩 교육 멘토링 -->

<body>
    <header>
        <div class="inner">

            <a th:href="@{/mainPage}" class="logo">
                <img src="../images/logo.png" alt="Mench">
            </a>

            <div class="sub-menu">
               
                <a th:href="@{/fstPage}" class="log-out">
                    <div class="material-symbols-outlined">
                        logout
                    </div>
                </a>
            </div>

        </div>
    </header>
    <div class="a">
        <div class="logo">Mench</div>
        <h2>검사 결과</h2>
        <div>추천하는 멘토링 프로그램은...</div>
        <h1>"코딩 교육 멘토링"</h1>
        <div class="img_q"><img src="../images/undraw_Proud_coder_re_exuy.png" alt="My Image"></div>
        <div>좋아하는 게임! 직접 만들어보는 건 어때?<br>
            "코딩 교육 멘토링"을 추천해!<br>
        </div>
        <div class="p_list">
            <p>프로그램 추천리스트</p>
            <a href="https://www.cjolivenetworks.co.kr/sustainability/contribution/education"><img src="../images/undraw_Proud_coder_re_exuy.png" alt="My Image">
                CJ SW창의캠프<br><br>
                자라나는 아이들이 보다 쉽고 재미있게 소프트웨어 코딩(Coding)을 경험하며, 논리적으로 사고할 수 있는 힘을 키울 수 있는 프로그램입니다. </a>
            <a href="https://www.science.go.kr/board?menuId=MENU00412&siteId="><img src="../images/undraw_Proud_coder_re_exuy.png" alt="My Image">
                국립중앙과학관<br><br>
                LED Blink과 LED : 누적 시프트	LED에 대한 이론수업과 빅보드에 LED 회로를 구성하고 코드를 입력해본다.</a>
            <a href="https://www.cjolivenetworks.co.kr/sustainability/contribution/education"><img src="../images/undraw_Proud_coder_re_exuy.png" alt="My Image">
                CJ SW창의캠프<br><br>
                임직원의 약 88%가 IT관련 종사자로 業의 특성과 임직원의 전문성을 활용한 차별화된 나눔 봉사 프로그램 기획 및 구성입니다.</a>
        </div>
        <div class="a_a">
            <a th:href="@{/test/main}">검사 다시하기↻</a><br>
            <a th:href="@{/test/a_list}">전체 유형 보러가기➔</a>
        </div>
    </div>
</body>

</html>