<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_main.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>
<!-- 검사지 메인 페이지
검사 시작하기, 내 결과 보기 버튼 -->

<body>
<header>
    <div class="inner">

        <a th:href="@{/mainPage}" class="logo">
            <img src="../images/logo.png" alt="Mench">
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li class="introduce">
                    소개
                </li>
                <li class="mentoring">
                    멘토링
                </li>
                <li class="test">
                    <a class="move" th:href="@{/test/main}">검사하기</a>
                </li>
            </ul>
            <a th:href="@{/fstPage}" class="log-out">
                <div class="material-symbols-outlined">
                    logout
                </div>
            </a>
        </div>

    </div>
</header>
    <div id="main_all">
        <div class="logo">Mench</div>
        <h1>나에게 맞는<br>
            멘토링 프로그램<br>
            찾기</h1>
        <div id="main_a">
            <a class="test_a" th:href="@{/test/q1}">검사 시작하기</a>
            <button class="test_a" type="button" onclick="location.href='@{/test/q1}'">내 결과 보기</button> <!-- 링크 추후에 수정할 것-->
        </div>
    </div>
</body>

</html>