<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>

<body>
<header>
    <div class="inner">

        <a th:href="@{/mainPage}" class="logo">
            <img src="../images/logo.png" alt="Mench">
        </a>

        <div class="sub-menu">
           
            <a th:href="@{/fstPage}" class="log-out">
                <div class="material-symbols-outlined">
                    logout
                </div>
            </a>
        </div>

    </div>
</header>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/undraw_Video_influencer_re_ili7.png" alt="My Image"></div>
        <h1>내가 영화 속 등장인물이라면?</h1>
        <div class="a_q">
            <a id="a3" th:href="@{/test/a3}">친구들이 항상 내 곁에! 해리포터🤓⚡</a>
            <a id="a4" th:href="@{/test/a4}">책은 내 친구! 헤르미온느👧📚</a>
        </div>
    </div>
<script>
            $(document).ready(function() {
        $("#a3").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a3"
            });
        });

        $("#a4").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/test/a4"
            });
        });
    });
    </script>
</body>
</html>