<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_q.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Mench</title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/main.js"></script>
</head>

<body>
    <header>
        <div class="inner">
    
          <a th:href="@{/mainPage}" class="logo">
            <img src="../images/logo.png" alt="Mench">
          </a>
    
          <div class="sub-menu">
           
            <a th:href="@{/fstPage}" class="log-out">
              <div class="material-symbols-outlined">
                logout
              </div>
            </a>
          </div>
    
        </div>
      </header>
    <div class="q">
        <div class="logo">Mench</div>
        <div class="img_q"><img src="../images/undraw_Cooking_p7m1.png" alt="My Image"></div>
        <h1>나는 학교</h1>
        <div class="a_q">
            <a th:href="@{/test/q3}">
                에서 못해본 색다른 활동을 하고 싶어!
            </a><br>
            <a th:href="@{/test/q2}">
                공부에 도움이 되는 걸 배우고 싶어!
            </a>
        </div>
    </div>

</body>

</html>